body {
    font-family: 'Inclusive Sans', sans-serif;
    background-color: rgb(205, 182, 118);
    padding-left: 100px;
    padding-right: 100px;
}

nav {
    color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-container {
    width: auto;
    /* Passt die Breite an den Inhalt an */
    padding: 10px;
    /* Optional: Fügt etwas Abstand innerhalb des Containers hinzu */
    /* border: 1px solid black; Fügt einen Rahmen hinzu */
}

.table-container img {
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
    /* Stellt sicher, dass die Tabelle die volle Breite des Containers einnimmt */
    border-collapse: collapse;
    /* Entfernt Abstände zwischen den Tabellenzellen */
}

table,
th,
td {
    border: 1px solid red;
    /* fügt roten Rand hinzu */
}

.image-column {
    width: 30%;
}

.main-container {
    background-color: whitesmoke;
    padding: 16px;
    padding-top: 10px;
}

a {
    text-decoration: none;
    margin-left: 16px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.text-highlight {
    color: gray;
    font-size: x-large;
}

.header-image {
    display: block;
    /* reduziert margin auf 0, damit der Text unterhalb direkt anliegt */
    width: 100%;
    height: 500px;
    object-fit: cover;
    /* */
}

.img-text-container {
    background-color: rgb(206, 203, 203);
    font-size: large;
}

.maps-container {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.maps-right {
    margin-left: 16px;
    width: 30%;
}

.maps-frame {
    border: 0;
    height: 350px;
    width: 70%;
}

.legal-content {
    padding: 8px;
}

.legal-text {
    margin-right: 16px;
}